.vanilaSlider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.vanilaSlider * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.vanilaSlider__controllers {
  position: absolute;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 37px;
  height: 37px;
  background: rgba(0, 0, 0, 0.75);
  border: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  z-index: 2;
}
.vanilaSlider__controllers:after {
  content: '';
  position: absolute;
  display: block;
  top: 10px;
  border: 8px solid transparent;
  border-right: 8px solid white;
}
.vanilaSlider__controllers--prev {
  left: 0;
}
.vanilaSlider__controllers--prev:after {
  left: 4px;
}
.vanilaSlider__controllers--next {
  right: 0;
}
.vanilaSlider__controllers--next:after {
  right: 4px;
  border-right: 8px solid transparent;
  border-left: 8px solid white;
}
.vanilaSlider__controllers:hover {
  background: #a8a8a8;
}
.vanilaSlider__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.vanilaSlider__item {
  width: 100%;
}
